<div class="modal" id="erroModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Erro</h4>
                <a class="close" data-dismiss="modal">&times;</a>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger text-white" data-dismiss="modal">Fechar</a>
            </div>

        </div>
    </div>
</div>