@model CopaDeFilmes.Models.VmTitle

<div class="card bg-dark text-white text-center">
    <div class="card-body">
        <h6>CAMPEONATO DE FILMES</h6>
        <h2>@Model.Titulo</h2>
        <hr id="HrTitle" />
        <h6>@Model.Mensagem</h6>
    </div>
</div>
